[defaults]
inventory       = ./inventory.yaml

## Force downloads of ansible-galaxy installs to save in this git repo
collections_path = ./collections

become_method   = sudo
sudo_user       = ansible
become_ask_pass = False
ask_pass        = False